# Configures translators that are bound into the system namespace at startup
#
# The format for each line is:
#
#   [binding name]=[translator command]
#
# For translator debugging -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5100
#
/term=/bin/TermServer.jar 
/fifo=/bin/FifoServer.jar
#/home/subroot=/bin/NativeFileSystem.jar -jinix:native subroot
/home/testTrans=/bin/TimeTranslator.jar
#/home/jext2=/bin/jext2Translator.jar -jinix:native ./dev/jinix.fs
